Django==3.1.9
psycopg2>=2.7,<3.0
Pillow>=7.1.2
djangorestframework>=3.11.0
django-filter>=0.11.0
django-cors-headers>=3.0.0
djangorestframework-jwt>=1.11.0
djangorestframework-simplejwt>=4.4.0
redis>=2.10.6
channels>=0.7.0
channels_redis>=2.2.1